/*  引入基础样式和浏览器样式重置 */
@tailwind base;
/* 引入常用的 UI 组件样式 */
@tailwind components;
/* 引入所有工具类，提供灵活的布局和样式控制 */
@tailwind utilities;

@layer base {
  html,
  :host {
    font-family: "PingFangSC-Semibold-woff2", "PingFangSC-Medium",
      "wotfard-medium-webfont.woff2", "wotfard-regular-webfont.woff2",
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
  }

  html,
  body {
    font-size: 14px;
    /* Custom scrollbar styles for cross-browser compatibility */
    /* scrollbar-color: #ffffff #000000; */
  }

  body::-webkit-scrollbar {
    width: 12px;
  }

  body::-webkit-scrollbar-track {
    background: #000000;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
    border: 3px solid #000000;
  }

  ::-webkit-scrollbar {
    width: 9px;
    height: 9px;
    background-color: #ffffff;
  }

  ::-webkit-scrollbar-track {
    background: #464646;
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
  }

  :root {
    --p-surface-950: #090909;
    --color-black-20: #252525;
    --color-black-30: #202020;
    --color-black-50: #141414;
    --color-black-65: #0c0c0c;
    --color-gray-50: #5f5f5f;
  }
}

:root {
  --copy-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='%23adadad' d='M16.187 9.5H12.25a1.75 1.75 0 0 0-1.75 1.75v28.5c0 .967.784 1.75 1.75 1.75h23.5a1.75 1.75 0 0 0 1.75-1.75v-28.5a1.75 1.75 0 0 0-1.75-1.75h-3.937a4.25 4.25 0 0 1-4.063 3h-7.5a4.25 4.25 0 0 1-4.063-3M31.813 7h3.937A4.25 4.25 0 0 1 40 11.25v28.5A4.25 4.25 0 0 1 35.75 44h-23.5A4.25 4.25 0 0 1 8 39.75v-28.5A4.25 4.25 0 0 1 12.25 7h3.937a4.25 4.25 0 0 1 4.063-3h7.5a4.25 4.25 0 0 1 4.063 3M18.5 8.25c0 .966.784 1.75 1.75 1.75h7.5a1.75 1.75 0 1 0 0-3.5h-7.5a1.75 1.75 0 0 0-1.75 1.75'/%3E%3C/svg%3E");
  --success-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%2366ff85' d='M9 16.17L5.53 12.7a.996.996 0 1 0-1.41 1.41l4.18 4.18c.39.39 1.02.39 1.41 0L20.29 7.71a.996.996 0 1 0-1.41-1.41z'/%3E%3C/svg%3E");
}