/*  引入基础样式和浏览器样式重置 */
@tailwind base;
/* 引入常用的 UI 组件样式 */
@tailwind components;
/* 引入所有工具类，提供灵活的布局和样式控制 */
@tailwind utilities;

@layer base {
  html,
  :host {
    font-family: "PingFangSC-Semibold-woff2", "PingFangSC-Medium",
      "wotfard-medium-webfont.woff2", "wotfard-regular-webfont.woff2",
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
  }

  html,
  body {
    font-size: 14px;
    /* Custom scrollbar styles for cross-browser compatibility */
    /* scrollbar-color: #ffffff #000000; */
  }

  body::-webkit-scrollbar {
    width: 12px;
  }

  body::-webkit-scrollbar-track {
    background: #000000;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
    border: 3px solid #000000;
  }

  ::-webkit-scrollbar {
    width: 9px;
    height: 9px;
    background-color: #ffffff;
  }

  ::-webkit-scrollbar-track {
    background: #464646;
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
  }

  :root {
    --p-surface-950: #090909;
    --color-black-20: #252525;
    --color-black-30: #202020;
    --color-black-50: #141414;
    --color-black-65: #0c0c0c;
    --color-gray-50: #5f5f5f;
  }
}

.parent-container-of-pre {
  display: grid; /* in order { overflow-x: auto; } works in child <pre> */
}

pre,
pre code {
  background-color: var(--color-code-background);

  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.2;
  tab-size: 2;
  hyphens: none;
}

pre {
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-text-weak);
  border-radius: 5px;

  overflow-x: auto;
}

pre > code {
  float: left;
  min-width: 100%;
}

.code-line {
  padding-left: 12px;
  padding-right: 12px;
  margin-left: -12px;
  margin-right: -12px;
  border-left: 4px solid transparent; /* prepare for highlighted code-lines */
}

div.code-line:empty {
  /* it is necessary because there is no even eol character in div code-lines */
  height: 15.5938px; /* calculated height */
}

span.code-line {
  min-width: 100%;
  /* display: inline-block; */
}

.code-line.inserted {
  background-color: var(--color-inserted-line); /* inserted code-line (+) color */
}

.code-line.deleted {
  background-color: var(--color-deleted-line); /* deleted code-line (-) color */
}

.highlighted-code-line {
  background-color: var(--color-highlighted-line);
  border-left: 4px solid var(--color-highlighted-line-indicator);
}

.numbered-code-line::before {
  content: attr(data-line-number);

  margin-left: -8px;
  margin-right: 16px;
  width: 1rem;
  color: var(--color-text-weak);
  text-align: right;

  display: inline-block;
}